[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = GameLord2011
	email = 119822417+GameLord2011@users.noreply.github.com
[core]
	editor = \"C:\\Users\\aandl\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[gui]
	recentrepo = C:/Users/aandl/OneDrive/Documents/GitHub/FZ_graphics
[alias]
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[color]
  ui = auto
[color "branch"]
  current = red
  local = blue
  remote = yello
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
